* {
  padding: 0px;
  margin: 0px;
}

body {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.grid .cell {
  display: inline-block;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.cell {
}
